<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
  <title>FRC #9460</title>
</head>
<body>
  <!-- Barra de navegação comum -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F7AD45;">
    <div class="container">
        <a class="navbar-brand" href="https://www.instagram.com/steelbullsfrc/">
            <img src="/frc-9460/assets/image/bullslogo-removebg.png" alt="Logo" class="d-inline-block align-text-top" width="130px" height="125px">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mascote.html">Mascote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="equipe.html">Equipe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--Cards-->
<div class="card-principal">
    <div class="card d-inline-block" style="width: 18rem;">
      <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Conpetidor 1</p>
        <p class="card-text">Àrea</p>
      </div>
    </div>
    <div class="card d-inline-block" style="width: 18rem;">
      <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Conpetidor 1</p>
        <p class="card-text">Àrea</p>
      </div>
    </div>
    <div class="card d-inline-block" style="width: 18rem;">
      <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Conpetidor 1</p>
        <p class="card-text">Àrea</p>
      </div>
    </div>
    <div class="card d-inline-block" style="width: 18rem;">
      <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Conpetidor 1</p>
        <p class="card-text">Àrea</p>
      </div>
    </div>
    <div class="card d-inline-block" style="width: 18rem;">
      <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Conpetidor 1</p>
        <p class="card-text">Àrea</p>
      </div>
    </div>
    <div class="card d-inline-block" style="width: 18rem;">
      <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Conpetidor 1</p>
        <p class="card-text">Àrea</p>
      </div>
    </div>
    <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
      <div class="card d-inline-block" style="width: 18rem;">
        <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Conpetidor 1</p>
          <p class="card-text">Àrea</p>
        </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
